## Pandas Revision Notes

### Pandas 1
1. Intro
2. DataFrame and Series
3. Creating DF
4. Basic operations on DF
5. Basic operations on Columns
6. Basic Operations on Rows

In [ ]:
# Why use Pandas?
# Limitation of Numpy is that it can work only with 1 datatype.
# Pandas and in real world dataset we need to deal with mix datatypes

In [ ]:
# McKinsey data set
# Find the GDP per capita and life expectancy of clients
# Gathered data from various surveys conducted in different countries over several years

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('mckinsey.csv')

In [ ]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [ ]:
# What is a dataframe?
# Table like structured representation of data in pandas
df['country'].nunique()

142

In [ ]:
type(df['country'])

pandas.core.series.Series

In [ ]:
# What is a series?
# Series is analogous to vector in Numpy
# Series is a single col of data. Multiple series are stacked together to form a dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
df.shape

(1704, 6)

In [ ]:
# Basic Ops on columns
# add a column, Drop a column, Rename a column

print(" columns : ", df.columns, "\n keys : ", df.keys())

 columns :  Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')
 keys :  Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
print(df[['country', 'life_exp']])

          country  life_exp
0     Afghanistan    28.801
1     Afghanistan    30.332
2     Afghanistan    31.997
3     Afghanistan    34.020
4     Afghanistan    36.088
...           ...       ...
1699     Zimbabwe    62.351
1700     Zimbabwe    60.377
1701     Zimbabwe    46.809
1702     Zimbabwe    39.989
1703     Zimbabwe    43.487

[1704 rows x 2 columns]

In [ ]:
df['country'].value_counts()

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: count, Length: 142, dtype: int64

In [ ]:
# Rename a column
df.rename({'population': 'Population', 'country': 'Country'}, axis=1, inplace = False)

          Country  year  Population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.drop('continent', axis=1) #By Default: inplace=False

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df['year+7'] = df['year'] + 7
df.head()

       country  year  population continent  life_exp     gdp_cap  year+7
0  Afghanistan  1952     8425333      Asia    28.801  779.445314    1959
1  Afghanistan  1957     9240934      Asia    30.332  820.853030    1964
2  Afghanistan  1962    10267083      Asia    31.997  853.100710    1969
3  Afghanistan  1967    11537966      Asia    34.020  836.197138    1974
4  Afghanistan  1972    13079460      Asia    36.088  739.981106    1979

In [ ]:
df['gdp'] = df['gdp_cap'] * df['population']
df.head()

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
3,Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09

In [ ]:
# Operations on Rows
df.index = list(range(1, df.shape[0]+1)) # Index now starts from 1 instead of 0
df

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
1,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
2,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
3,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
4,Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
5,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09
...,...,...,...,...,...,...,...,...
1700,Zimbabwe,1987,9216418,Africa,62.351,706.157306,1994,6.508241e+09
1701,Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999,7.422612e+09
1702,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004,9.037851e+09
1703,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009,8.015111e+09
1704,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014,5.782658e+09

In [ ]:
df.index = np.arange(1, df.shape[0]+1, dtype='float') # Explicit Index can changed to any datatype value
df

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
1.0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
2.0,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
3.0,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
4.0,Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
5.0,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09
...,...,...,...,...,...,...,...,...
1700.0,Zimbabwe,1987,9216418,Africa,62.351,706.157306,1994,6.508241e+09
1701.0,Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999,7.422612e+09
1702.0,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004,9.037851e+09
1703.0,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009,8.015111e+09
1704.0,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014,5.782658e+09

In [ ]:
# Slicing
ser = df['country']
ser[:4]

/tmp/ipython-input-2028/32512917.py:3: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  ser[:4]

1.0    Afghanistan
2.0    Afghanistan
3.0    Afghanistan
4.0    Afghanistan
Name: country, dtype: object

In [ ]:
# loc and iloc
df.loc[1:3] # Explicit indexing. Range is inclusive of end point

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
1.0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
2.0,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
3.0,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09

In [ ]:
df.iloc[0:2] # Implicit indexing. Range is excludes end point

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
1.0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
2.0,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09

In [ ]:
df.iloc[-1] # Last row

country                Zimbabwe
year                       2007
population             12311143
continent                Africa
life_exp                 43.487
gdp_cap              469.709298
year+7                     2014
gdp           5782658337.338729
Name: 1704.0, dtype: object

In [ ]:
temp = df.set_index('country')
temp

,year,population,continent,life_exp,gdp_cap,year+7,gdp
country,,,,,,,
Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09
...,...,...,...,...,...,...,...
Zimbabwe,1987,9216418,Africa,62.351,706.157306,1994,6.508241e+09
Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999,7.422612e+09
Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004,9.037851e+09
Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009,8.015111e+09
Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014,5.782658e+09

In [ ]:
temp.loc['Afghanistan']

,year,population,continent,life_exp,gdp_cap,year+7,gdp
country,,,,,,,
Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09
Afghanistan,1977,14880372,Asia,38.438,786.113360,1984,1.169766e+10
Afghanistan,1982,12881816,Asia,39.854,978.011439,1989,1.259856e+10
Afghanistan,1987,13867957,Asia,40.822,852.395945,1994,1.182099e+10
Afghanistan,1992,16317921,Asia,41.674,649.341395,1999,1.059590e+10
Afghanistan,1997,22227415,Asia,41.763,635.341351,2004,1.412200e+10
Afghanistan,2002,25268405,Asia,42.129,726.734055,2009,1.836341e+10
Afghanistan,2007,31889923,Asia,43.828,974.580338,2014,3.107929e+10

In [ ]:
df.reset_index()

,index,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
0,1.0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09
1,2.0,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964,7.585449e+09
2,3.0,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969,8.758856e+09
3,4.0,Afghanistan,1967,11537966,Asia,34.020,836.197138,1974,9.648014e+09
4,5.0,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979,9.678553e+09
...,...,...,...,...,...,...,...,...,...
1699,1700.0,Zimbabwe,1987,9216418,Africa,62.351,706.157306,1994,6.508241e+09
1700,1701.0,Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999,7.422612e+09
1701,1702.0,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004,9.037851e+09
1702,1703.0,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009,8.015111e+09
1703,1704.0,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014,5.782658e+09

### Pandas 2
1. Working with both rows and columns
2. Handling duplicate records
3. Pandas built-in ops
4. Concatenating dataframes
5. Merging dataframes

In [ ]:
df.head(1)

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
1.0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959,6.567086e+09

In [ ]:
# Add a new row
new_row = {'country': 'India', 'year': 2000, 'population': 13500000, 'continent': 'Asia', 'life_exp': '37.08', 'gdp_cap': 900.23}

df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True) # Ignore existing index and create a new one based on length of DataFrame
df

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959.0,6.567086e+09
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964.0,7.585449e+09
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969.0,8.758856e+09
3,Afghanistan,1967,11537966,Asia,34.02,836.197138,1974.0,9.648014e+09
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979.0,9.678553e+09
...,...,...,...,...,...,...,...,...
1700,Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999.0,7.422612e+09
1701,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004.0,9.037851e+09
1702,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009.0,8.015111e+09
1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014.0,5.782658e+09
1704,India,2000,13500000,Asia,37.08,900.230000,NaN,NaN

In [ ]:
# Insert only the values
new_row = {'country': 'India', 'year': 2000,'population':13500000, 'continent': "Asia", 'life_exp':37.08, 'gdp_cap':900.23, 'year+7': 2007, 'gdp': 900.23*13500000}
new_row_val = list(new_row.values())
new_row_val

['India', 2000, 13500000, 'Asia', 37.08, 900.23, 2007, 12153105000.0]

In [ ]:
df.loc[len(df.index)] = new_row_val
df

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959.0,6.567086e+09
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964.0,7.585449e+09
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969.0,8.758856e+09
3,Afghanistan,1967,11537966,Asia,34.02,836.197138,1974.0,9.648014e+09
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979.0,9.678553e+09
...,...,...,...,...,...,...,...,...
1701,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004.0,9.037851e+09
1702,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009.0,8.015111e+09
1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014.0,5.782658e+09
1704,India,2000,13500000,Asia,37.08,900.230000,NaN,NaN
1705,India,2000,13500000,Asia,37.08,900.230000,2007.0,1.215310e+10

In [ ]:
# df.iloc - Requires the new row to be present in the dataframe

df.drop(1705, axis=0)
df.drop(1704, axis=0)

,country,year,population,continent,life_exp,gdp_cap,year+7,gdp
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,1959.0,6.567086e+09
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,1964.0,7.585449e+09
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,1969.0,8.758856e+09
3,Afghanistan,1967,11537966,Asia,34.02,836.197138,1974.0,9.648014e+09
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,1979.0,9.678553e+09
...,...,...,...,...,...,...,...,...
1700,Zimbabwe,1992,10704340,Africa,60.377,693.420786,1999.0,7.422612e+09
1701,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2004.0,9.037851e+09
1702,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2009.0,8.015111e+09
1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2014.0,5.782658e+09
1705,India,2000,13500000,Asia,37.08,900.230000,2007.0,1.215310e+10

In [ ]:
df.drop(['year+7', 'gdp'], axis=1, inplace=True)

In [ ]:
# Handling duplicate records
df.loc[len(df.index)] = ['India', 2000, 13500000, 'Asia', 37.08, 900.23]
df.loc[len(df.index)] = ['Sri Lanka',2022 ,130000000, 'Asia', 80.00,500.00]
df.loc[len(df.index)] = ['Sri Lanka',2022 ,130000000, 'Asia', 80.00,500.00]
df.loc[len(df.index)] = ['India',2000 ,13500000, 'Asia', 80.00,900.23]
df

          country  year  population continent life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia   28.801  779.445314
1     Afghanistan  1957     9240934      Asia   30.332  820.853030
2     Afghanistan  1962    10267083      Asia   31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.02  836.197138
4     Afghanistan  1972    13079460      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1705        India  2000    13500000      Asia    37.08  900.230000
1706        India  2000    13500000      Asia    37.08  900.230000
1707    Sri Lanka  2022   130000000      Asia     80.0  500.000000
1708    Sri Lanka  2022   130000000      Asia     80.0  500.000000
1709        India  2000    13500000      Asia     80.0  900.230000

[1710 rows x 6 columns]

In [ ]:
df.loc[df.duplicated()]

        country  year  population continent life_exp  gdp_cap
1706      India  2000    13500000      Asia    37.08   900.23
1708  Sri Lanka  2022   130000000      Asia     80.0   500.00

In [ ]:
df.drop_duplicates()
# How to decide which ones to keep and ones to discard.
df.drop_duplicates(keep='first')

          country  year  population continent life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia   28.801  779.445314
1     Afghanistan  1957     9240934      Asia   30.332  820.853030
2     Afghanistan  1962    10267083      Asia   31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.02  836.197138
4     Afghanistan  1972    13079460      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1703     Zimbabwe  2007    12311143    Africa   43.487  469.709298
1704        India  2000    13500000      Asia    37.08  900.230000
1705        India  2000    13500000      Asia    37.08  900.230000
1707    Sri Lanka  2022   130000000      Asia     80.0  500.000000
1709        India  2000    13500000      Asia     80.0  900.230000

[1708 rows x 6 columns]

In [ ]:
# Duplicates only on a few columns
df.drop_duplicates(subset=['country'],keep='first')

                 country  year  population continent life_exp      gdp_cap
0            Afghanistan  1952     8425333      Asia   28.801   779.445314
12               Albania  1952     1282697    Europe    55.23  1601.056136
24               Algeria  1952     9279525    Africa   43.077  2449.008185
36                Angola  1952     4232095    Africa   30.015  3520.610273
48             Argentina  1952    17876956  Americas   62.485  5911.315053
...                  ...   ...         ...       ...      ...          ...
1644             Vietnam  1952    26246839      Asia   40.412   605.066492
1656  West Bank and Gaza  1952     1030585      Asia    43.16  1515.592329
1668         Yemen, Rep.  1952     4963829      Asia   32.548   781.717576
1680              Zambia  1952     2672000    Africa   42.038  1147.388831
1692            Zimbabwe  1952     3080907    Africa   48.451   406.884115

[142 rows x 6 columns]

In [ ]:
# Slicing a DataFrame
df.iloc[0:4, 0:3] # 1st 4 rows, 3 cols

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966

In [ ]:
df.loc[1:5, ['country', 'life_exp'] ]
#df.loc[1:5, 'country': 'life_exp' ]

       country life_exp
1  Afghanistan   30.332
2  Afghanistan   31.997
3  Afghanistan    34.02
4  Afghanistan   36.088
5  Afghanistan   38.438

In [ ]:
#df.drop([1709, 1708, 1708, 1707, 1706, 1705], axis=0, inplace=True)

In [ ]:
# Aggregate Functions
df['life_exp'] = df['life_exp'].astype('float')
le = df['life_exp']
le

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1700    60.377
1701    46.809
1702    39.989
1703    43.487
1704    37.080
Name: life_exp, Length: 1705, dtype: float64

In [ ]:
le.mean()

np.float64(59.46130479765396)

In [ ]:
le.sum()

np.float64(101381.52468)

In [ ]:
# Sorting on columns
df.sort_values(['life_exp'] , ascending=False)

               country  year  population continent  life_exp       gdp_cap
803              Japan  2007   127467972      Asia    82.603  31656.068060
671   Hong Kong, China  2007     6980412      Asia    82.208  39724.978670
802              Japan  2002   127065841      Asia    82.000  28604.591900
695            Iceland  2007      301931    Europe    81.757  36180.789190
1487       Switzerland  2007     7554661    Europe    81.701  37506.419070
...                ...   ...         ...       ...       ...           ...
1344      Sierra Leone  1952     2143249    Africa    30.331    879.787736
36              Angola  1952     4232095    Africa    30.015   3520.610273
552             Gambia  1952      284320    Africa    30.000    485.230659
0          Afghanistan  1952     8425333      Asia    28.801    779.445314
1292            Rwanda  1992     7290203    Africa    23.599    737.068595

[1705 rows x 6 columns]

In [ ]:
# Sorting on multiple columns
df.sort_values(['year', 'life_exp'] , ascending=[False, False])

               country  year  population continent  life_exp       gdp_cap
803              Japan  2007   127467972      Asia    82.603  31656.068060
671   Hong Kong, China  2007     6980412      Asia    82.208  39724.978670
695            Iceland  2007      301931    Europe    81.757  36180.789190
1487       Switzerland  2007     7554661    Europe    81.701  37506.419070
71           Australia  2007    20434176   Oceania    81.235  34435.367440
...                ...   ...         ...       ...       ...           ...
1032        Mozambique  1952     6446316    Africa    31.286    468.526038
1344      Sierra Leone  1952     2143249    Africa    30.331    879.787736
36              Angola  1952     4232095    Africa    30.015   3520.610273
552             Gambia  1952      284320    Africa    30.000    485.230659
0          Afghanistan  1952     8425333      Asia    28.801    779.445314

[1705 rows x 6 columns]

In [ ]:
# Concatenate Data Frames
users = pd.DataFrame({"userid":[1, 2, 3], "name":["sharadh", "shahid", "khusalli"]})
users

   userid      name
0       1   sharadh
1       2    shahid
2       3  khusalli

In [ ]:
msgs = pd.DataFrame({"userid":[1, 1, 2, 4], "msg":['hmm', "acha", "theek hai", "nice"]})
msgs

   userid        msg
0       1        hmm
1       1       acha
2       2  theek hai
3       4       nice

In [ ]:
pd.concat([users, msgs])

   userid      name        msg
0       1   sharadh        NaN
1       2    shahid        NaN
2       3  khusalli        NaN
0       1       NaN        hmm
1       1       NaN       acha
2       2       NaN  theek hai
3       4       NaN       nice

In [ ]:
users.merge(msgs, on="userid")

   userid     name        msg
0       1  sharadh        hmm
1       1  sharadh       acha
2       2   shahid  theek hai

In [ ]:
users.merge(msgs, on="userid", how='outer')

   userid      name        msg
0       1   sharadh        hmm
1       1   sharadh       acha
2       2    shahid  theek hai
3       3  khusalli        NaN
4       4       NaN       nice

### Pandas 3
1. Apply
2. Grouping
3. Group based Aggregates
4. Group based Filtering
5. Group based Apply

In [ ]:
movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv', index_col=0)

In [ ]:
movies.shape

(1465, 11)

In [ ]:
directors.shape

(2349, 3)

In [ ]:
# There are more rows in directors df. Movies is a subset of directors

movies.head(1)

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday

In [ ]:
movies['director_id'].nunique()

199

In [ ]:
directors.head(1)

   director_name    id gender
0  James Cameron  4762   Male

In [ ]:
directors['id'].nunique()

2349

In [ ]:
# How to check if all director ids are in id?
movies['director_id'].isin(directors['id'])

0       True
1       True
2       True
3       True
5       True
        ...
4736    True
4743    True
4748    True
4749    True
4768    True
Name: director_id, Length: 1465, dtype: bool

In [ ]:
# How to check if any false in above?
np.all(movies['director_id'].isin(directors['id']))

np.True_

In [ ]:
# What join to merge? Left
data = movies.merge(directors, how='left', left_on='director_id',right_on='id')

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,4809,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,5369,Male
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,5148,Male
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,5535,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,5097,NaN

In [ ]:
data.drop(['director_id', 'id_y'], axis=1, inplace=True)
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [ ]:
### Apply
# Convert gender col to 0 and 1
def encode(data):
  if data == 'Male':
    return 0
  else:
    return 1

In [ ]:
data['gender'] = data['gender'].apply(encode)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1

In [ ]:
data[['revenue', 'budget']].apply(np.sum)

revenue    209866997305
budget      70353617179
dtype: int64

In [ ]:
# Find profit per movie
def profit(x):
  return x['revenue'] - x['budget']

data['profit'] = data[['revenue', 'budget']].apply(profit, axis=1)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1,1820920

In [ ]:
### Grouping
# Split, Apply, Combine

data.groupby('director_name')

In [ ]:
data.groupby('director_name').ngroups

199

In [ ]:
data.groupby('director_name').groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro González Iñárritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [ ]:
data.groupby('director_name').get_group('Christopher Nolan')

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
45,43662,185000000,187,1004558444,The Dark Knight,8.2,12002,2008,Jul,Wednesday,Christopher Nolan,0,819558444
58,43692,165000000,724,675120017,Interstellar,8.1,10867,2014,Nov,Wednesday,Christopher Nolan,0,510120017
59,43693,160000000,167,825532764,Inception,8.1,13752,2010,Jul,Wednesday,Christopher Nolan,0,665532764
74,43716,150000000,115,374218673,Batman Begins,7.5,7359,2005,Jun,Friday,Christopher Nolan,0,224218673
565,44630,46000000,41,113714830,Insomnia,6.8,1148,2002,May,Friday,Christopher Nolan,0,67714830
641,44793,40000000,74,109676311,The Prestige,8.0,4391,2006,Oct,Thursday,Christopher Nolan,0,69676311
1341,47170,9000000,60,39723096,Memento,8.1,4028,2000,Oct,Wednesday,Christopher Nolan,0,30723096

In [ ]:
# Count number of movies by Director
data.groupby('director_name')['title'].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [ ]:
# First movie they released and last release year
data.groupby('director_name')['year'].aggregate(['min', 'max'])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [ ]:
# Find high budget directors
data_dir_budget = data.groupby("director_name")["budget"].max().reset_index()
data_dir_budget

                   director_name     budget
0                     Adam McKay  100000000
1                  Adam Shankman   80000000
2    Alejandro González Iñárritu  135000000
3                    Alex Proyas  140000000
4                Alexander Payne   30000000
..                           ...        ...
194                   Wes Craven   40000000
195            Wolfgang Petersen  175000000
196                  Woody Allen   30000000
197                  Zack Snyder  250000000
198                  Zhang Yimou   94000000

[199 rows x 2 columns]

In [ ]:
# Directors with budget > 100M

names = data_dir_budget.loc[data_dir_budget["budget"] >= 100, "director_name"]
names

0                       Adam McKay
1                    Adam Shankman
2      Alejandro González Iñárritu
3                      Alex Proyas
4                  Alexander Payne
                  ...
194                     Wes Craven
195              Wolfgang Petersen
196                    Woody Allen
197                    Zack Snyder
198                    Zhang Yimou
Name: director_name, Length: 199, dtype: object

In [ ]:
# Filter the movies of these directors
data.loc[data['director_name'].isin(names)]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1,1820920

In [ ]:
# Filter risky movies
def func(x):
  # a boolean returning function for whether the movie is risky or not
  x["risky"] = x["budget"] - x["revenue"].mean() >= 0
  return x

In [ ]:
data_risky = data.groupby("director_name", group_keys=False).apply(func)
data_risky

/tmp/ipython-input-2028/341794636.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_risky = data.groupby("director_name", group_keys=False).apply(func)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit,risky
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,0,2550965087,False
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,0,661000000,False
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,0,635674609,False
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,0,834939099,False
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,0,632871626,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,0,321952,False
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,0,3124130,False
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,0,0,False
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,0,0,False
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,1,1820920,False

In [ ]:
data_risky.loc[data_risky["risky"]]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,profit,risky
7,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,2008,Oct,Thursday,Marc Forster,0,386090727,True
12,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,2011,May,Saturday,Rob Marshall,0,665713802,True
15,43618,200000000,37,310669540,Robin Hood,6.2,1398,2010,May,Wednesday,Ridley Scott,0,110669540,True
20,43624,209000000,64,303025485,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,0,94025485,True
24,43630,210000000,3,459359555,X-Men: The Last Stand,6.3,3525,2006,May,Wednesday,Brett Ratner,0,249359555,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,47224,5000000,7,3263585,The Sweet Hereafter,6.8,103,1997,May,Wednesday,Atom Egoyan,0,-1736415,True
1349,47229,5000000,3,4842699,90 Minutes in Heaven,5.4,40,2015,Sep,Friday,Michael Polish,0,-157301,True
1351,47233,5000000,6,0,Light Sleeper,5.7,15,1992,Aug,Friday,Paul Schrader,1,-5000000,True
1356,47263,15000000,10,0,Dying of the Light,4.5,118,2014,Dec,Thursday,Paul Schrader,1,-15000000,True
1383,47453,3500000,4,0,In the Name of the King III,3.3,19,2013,Dec,Friday,Uwe Boll,0,-3500000,True

### Pandas 4
1. Multi Indexing
2. Melt()
3. Pivot()
4. Pivot_table()
5. Binning - cut()

In [135]:
# Most productive director
data.groupby(['director_name'])['title'].count().sort_values(ascending=False)

director_name
Steven Spielberg    26
Martin Scorsese     19
Clint Eastwood      19
Woody Allen         18
Robert Rodriguez    16
                    ..
Stephen Daldry       5
Tom Tykwer           5
Tim Hill             5
Uwe Boll             5
Wayne Wang           5
Name: title, Length: 199, dtype: int64

In [136]:
# Is count of movies mean productive?
# active years for every director
data_agg = data.groupby(['director_name'])[["year", "title"]].aggregate({"year":['min','max'], "title": "count"})
data_agg

                             year       title
                              min   max count
director_name
Adam McKay                   2004  2015     6
Adam Shankman                2001  2012     8
Alejandro González Iñárritu  2000  2015     6
Alex Proyas                  1994  2016     5
Alexander Payne              1999  2013     5
...                           ...   ...   ...
Wes Craven                   1984  2011    10
Wolfgang Petersen            1981  2006     7
Woody Allen                  1977  2013    18
Zack Snyder                  2004  2016     7
Zhang Yimou                  2002  2014     6

[199 rows x 3 columns]

In [137]:
data_agg['year']

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [138]:
data_agg.columns = ['_'.join(col) for col in data_agg.columns]
data_agg

                             year_min  year_max  title_count
director_name
Adam McKay                       2004      2015            6
Adam Shankman                    2001      2012            8
Alejandro González Iñárritu      2000      2015            6
Alex Proyas                      1994      2016            5
Alexander Payne                  1999      2013            5
...                               ...       ...          ...
Wes Craven                       1984      2011           10
Wolfgang Petersen                1981      2006            7
Woody Allen                      1977      2013           18
Zack Snyder                      2004      2016            7
Zhang Yimou                      2002      2014            6

[199 rows x 3 columns]

In [139]:
data_agg.reset_index()

                   director_name  year_min  year_max  title_count
0                     Adam McKay      2004      2015            6
1                  Adam Shankman      2001      2012            8
2    Alejandro González Iñárritu      2000      2015            6
3                    Alex Proyas      1994      2016            5
4                Alexander Payne      1999      2013            5
..                           ...       ...       ...          ...
194                   Wes Craven      1984      2011           10
195            Wolfgang Petersen      1981      2006            7
196                  Woody Allen      1977      2013           18
197                  Zack Snyder      2004      2016            7
198                  Zhang Yimou      2002      2014            6

[199 rows x 4 columns]

In [140]:
data_agg["yrs_active"] = data_agg["year_max"] - data_agg["year_min"]
data_agg

                             year_min  year_max  title_count  yrs_active
director_name
Adam McKay                       2004      2015            6          11
Adam Shankman                    2001      2012            8          11
Alejandro González Iñárritu      2000      2015            6          15
Alex Proyas                      1994      2016            5          22
Alexander Payne                  1999      2013            5          14
...                               ...       ...          ...         ...
Wes Craven                       1984      2011           10          27
Wolfgang Petersen                1981      2006            7          25
Woody Allen                      1977      2013           18          36
Zack Snyder                      2004      2016            7          12
Zhang Yimou                      2002      2014            6          12

[199 rows x 4 columns]

In [141]:
data_agg["movie_per_yr"] = data_agg["title_count"] / data_agg["yrs_active"]
data_agg

,year_min,year_max,title_count,yrs_active,movie_per_yr
director_name,,,,,
Adam McKay,2004,2015,6,11,0.545455
Adam Shankman,2001,2012,8,11,0.727273
Alejandro González Iñárritu,2000,2015,6,15,0.400000
Alex Proyas,1994,2016,5,22,0.227273
Alexander Payne,1999,2013,5,14,0.357143
...,...,...,...,...,...
Wes Craven,1984,2011,10,27,0.370370
Wolfgang Petersen,1981,2006,7,25,0.280000
Woody Allen,1977,2013,18,36,0.500000
Zack Snyder,2004,2016,7,12,0.583333
Zhang Yimou,2002,2014,6,12,0.500000

In [142]:
data_agg.sort_values("movie_per_yr", ascending=False)

                  year_min  year_max  title_count  yrs_active  movie_per_yr
director_name
Tyler Perry           2006      2013            9           7      1.285714
Jason Friedberg       2006      2010            5           4      1.250000
Shawn Levy            2002      2014           11          12      0.916667
Robert Rodriguez      1992      2014           16          22      0.727273
Adam Shankman         2001      2012            8          11      0.727273
...                    ...       ...          ...         ...           ...
Lawrence Kasdan       1985      2012            5          27      0.185185
Luc Besson            1985      2014            5          29      0.172414
Michael Apted         1980      2010            5          30      0.166667
Robert Redford        1980      2010            5          30      0.166667
Sidney Lumet          1976      2006            5          30      0.166667

[199 rows x 5 columns]

In [ ]:
### Pfizer Dataset

In [143]:
data = pd.read_csv('Pfizer_1.csv')
data

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [144]:
data.info() # 18 rows, 15 cols

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [146]:
data_melt = pd.melt(data,
                    id_vars=['Date', 'Drug_Name', 'Parameter'],
                    var_name = 'time',
                    value_name = 'reading'
                  )
data_melt

           Date                Drug_Name    Parameter      time  reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

In [148]:
# Pivoting
data_melt.pivot(index=['Date', 'Drug_Name', 'Parameter'],
                columns='time',
                values='reading').reset_index()

time,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [150]:
data_tidy = data_melt.pivot(index=['Date','time', 'Drug_Name'],
                            columns = 'Parameter',
                            values='reading').reset_index()
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [152]:
# **Can we use pivot to find the day-wise mean value of temperature for each drug?**

pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Temperature'], aggfunc=np.mean)

/tmp/ipython-input-2028/2362000664.py:3: FutureWarning: The provided callable <function mean at 0x791cc67eda80> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Temperature'], aggfunc=np.mean)

Parameter               Temperature
Date                     15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364
docetaxel injection       20.750000  51.454545  17.500000
ketamine hydrochloride    23.555556  11.500000  18.500000

In [153]:
### Binning
print(data_tidy['Temperature'].min(), data_tidy['Temperature'].max())

8.0 58.0

In [155]:
temp_points = [5, 20, 35, 50, 60]

temp_labels = ['low','medium','high','very_high'] # labels define the severity of the resultant output of the test

In [156]:
data_tidy['temp_cat'] = pd.cut(data_tidy['Temperature'], bins=temp_points, labels=temp_labels)
data_tidy.head()

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,medium

In [157]:
data_tidy['temp_cat'].value_counts()

temp_cat
low          45
medium       30
high         15
very_high     5
Name: count, dtype: int64

### Pandas 5
1. None vs NaN
2. isna() vs isnull()
3. dropna()
4. fillna()
5. String methods, datetime values
6. writing to file

In [158]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,medium
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,medium

In [159]:
type(np.nan)

float

In [160]:
type(None)

NoneType

In [161]:
pd.Series([1, np.nan, 2, None]) # In numerical None is automatically converted to NaN

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [162]:
pd.Series(["1", "np.nan", "2", None]) # In non-numerical None appears a None

0         1
1    np.nan
2         2
3      None
dtype: object

In [166]:
# Count of missing values
data.isna().head() # Both are same
data.isnull().head() # aias to isna()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [167]:
pd.isna # Returns bool type

In [168]:
data.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [169]:
data.isna().sum(axis=1)

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [170]:
# Removing null
data.dropna(axis=1)

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [171]:
# Dropping would be loss of valuable data so fill in with missing values
# Data Imputation
data['2:30:00'].fillna(0)

0     22.0
1     13.0
2     17.0
3     22.0
4      0.0
5      0.0
6     35.0
7     19.0
8     47.0
9     24.0
10     9.0
11    12.0
12    19.0
13     4.0
14    13.0
15    22.0
16    14.0
17     9.0
Name: 2:30:00, dtype: float64

In [172]:
data['2:30:00'].mean()

np.float64(18.8125)

In [176]:
#Replace with mean
data['2:30:00'].fillna(data['2:30:00'].mean())

0     22.0000
1     13.0000
2     17.0000
3     22.0000
4     18.8125
5     18.8125
6     35.0000
7     19.0000
8     47.0000
9     24.0000
10     9.0000
11    12.0000
12    19.0000
13     4.0000
14    13.0000
15    22.0000
16    14.0000
17     9.0000
Name: 2:30:00, dtype: float64

In [177]:
# Instead of using mean value we will use mean of their respective compound
def temp_mean(x):
  x['Temperature_avg'] = x['Temperature'].mean()
  return x


data_tidy = data_tidy.groupby(["Drug_Name"], group_keys=False).apply(temp_mean)
data_tidy

/tmp/ipython-input-2028/2348825871.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_tidy = data_tidy.groupby(["Drug_Name"], group_keys=False).apply(temp_mean)

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat,Temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,medium,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,medium,30.387097
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,low,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,low,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,low,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,low,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,medium,17.709677

In [178]:
data_tidy['Temperature'].fillna(data_tidy["Temperature_avg"], inplace=True)
data_tidy

/tmp/ipython-input-2028/2124651482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_tidy['Temperature'].fillna(data_tidy["Temperature_avg"], inplace=True)

Parameter,Date,time,Drug_Name,Pressure,Temperature,temp_cat,Temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,low,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,medium,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,medium,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,low,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,medium,30.387097
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,low,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,low,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,low,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,low,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,medium,17.709677

In [180]:
data_tidy.isna().sum()

Parameter
Date                0
time                0
Drug_Name           0
Pressure           13
Temperature         0
temp_cat           13
Temperature_avg     0
dtype: int64

In [181]:
def pressure_mean(x):
  x['Pressure_avg'] = x['Pressure'].mean()
  return x

data_tidy=data_tidy.groupby(["Drug_Name"]).apply(pressure_mean)
data_tidy['Pressure'].fillna(data_tidy["Pressure_avg"], inplace=True)

data_tidy

/tmp/ipython-input-2028/4025683248.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_tidy=data_tidy.groupby(["Drug_Name"]).apply(pressure_mean)
/tmp/ipython-input-2028/4025683248.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_tidy['Pressure'].fillna(data_tidy["Pressure_avg"], inplace=True)

Parameter                          Date      time                Drug_Name  \
Drug_Name
diltiazem hydrochloride 0    15-10-2020  10:30:00  diltiazem hydrochloride
                        3    15-10-2020  11:30:00  diltiazem hydrochloride
                        6    15-10-2020  12:30:00  diltiazem hydrochloride
                        9    15-10-2020   1:30:00  diltiazem hydrochloride
                        12   15-10-2020   2:30:00  diltiazem hydrochloride
...                                 ...       ...                      ...
ketamine hydrochloride  95   17-10-2020   5:30:00   ketamine hydrochloride
                        98   17-10-2020   6:30:00   ketamine hydrochloride
                        101  17-10-2020   7:30:00   ketamine hydrochloride
                        104  17-10-2020   8:30:00   ketamine hydrochloride
                        107  17-10-2020   9:30:00   ketamine hydrochloride

Parameter                    Pressure  Temperature temp_cat  Temperature_avg  \
Drug_Name
diltiazem hydrochloride 0        18.0         20.0      low        24.848485
                        3        19.0         20.0      low        24.848485
                        6        20.0         21.0   medium        24.848485
                        9        12.0         23.0   medium        24.848485
                        12       13.0         22.0   medium        24.848485
...                               ...          ...      ...              ...
ketamine hydrochloride  95       11.0         17.0      low        17.709677
                        98       12.0         18.0      low        17.709677
                        101      12.0         19.0      low        17.709677
                        104      11.0         20.0      low        17.709677
                        107      12.0         21.0   medium        17.709677

Parameter                    Pressure_avg
Drug_Name
diltiazem hydrochloride 0       15.424242
                        3       15.424242
                        6       15.424242
                        9       15.424242
                        12      15.424242
...                                   ...
ketamine hydrochloride  95      11.935484
                        98      11.935484
                        101     11.935484
                        104     11.935484
                        107     11.935484

[108 rows x 8 columns]

In [182]:
data_tidy.isna().sum()

Parameter
Date                0
time                0
Drug_Name           0
Pressure            0
Temperature         0
temp_cat           13
Temperature_avg     0
Pressure_avg        0
dtype: int64

In [183]:
### String Methods
data_tidy.loc[data_tidy['Drug_Name'].str.contains('hydrochloride')].head()

Parameter                         Date      time                Drug_Name  \
Drug_Name
diltiazem hydrochloride 0   15-10-2020  10:30:00  diltiazem hydrochloride
                        3   15-10-2020  11:30:00  diltiazem hydrochloride
                        6   15-10-2020  12:30:00  diltiazem hydrochloride
                        9   15-10-2020   1:30:00  diltiazem hydrochloride
                        12  15-10-2020   2:30:00  diltiazem hydrochloride

Parameter                   Pressure  Temperature temp_cat  Temperature_avg  \
Drug_Name
diltiazem hydrochloride 0       18.0         20.0      low        24.848485
                        3       19.0         20.0      low        24.848485
                        6       20.0         21.0   medium        24.848485
                        9       12.0         23.0   medium        24.848485
                        12      13.0         22.0   medium        24.848485

Parameter                   Pressure_avg
Drug_Name
diltiazem hydrochloride 0      15.424242
                        3      15.424242
                        6      15.424242
                        9      15.424242
                        12     15.424242

In [185]:
data_tidy['Date'].str.split('-')

Drug_Name
diltiazem hydrochloride  0      [15, 10, 2020]
                         3      [15, 10, 2020]
                         6      [15, 10, 2020]
                         9      [15, 10, 2020]
                         12     [15, 10, 2020]
                                     ...
ketamine hydrochloride   95     [17, 10, 2020]
                         98     [17, 10, 2020]
                         101    [17, 10, 2020]
                         104    [17, 10, 2020]
                         107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [186]:
data_tidy['Date'].str.split('-').apply(lambda x:x[2])

Drug_Name
diltiazem hydrochloride  0      2020
                         3      2020
                         6      2020
                         9      2020
                         12     2020
                                ...
ketamine hydrochloride   95     2020
                         98     2020
                         101    2020
                         104    2020
                         107    2020
Name: Date, Length: 108, dtype: object

In [187]:
### DateTime
data_tidy['timestamp'] = data_tidy['Date'] + " " + data_tidy['time']

In [188]:
data_tidy.drop(['Date', 'time'], axis=1, inplace=True)

In [189]:
data_tidy.head()

Parameter                                 Drug_Name  Pressure  Temperature  \
Drug_Name
diltiazem hydrochloride 0   diltiazem hydrochloride      18.0         20.0
                        3   diltiazem hydrochloride      19.0         20.0
                        6   diltiazem hydrochloride      20.0         21.0
                        9   diltiazem hydrochloride      12.0         23.0
                        12  diltiazem hydrochloride      13.0         22.0

Parameter                  temp_cat  Temperature_avg  Pressure_avg  \
Drug_Name
diltiazem hydrochloride 0       low        24.848485     15.424242
                        3       low        24.848485     15.424242
                        6    medium        24.848485     15.424242
                        9    medium        24.848485     15.424242
                        12   medium        24.848485     15.424242

Parameter                             timestamp
Drug_Name
diltiazem hydrochloride 0   15-10-2020 10:30:00
                        3   15-10-2020 11:30:00
                        6   15-10-2020 12:30:00
                        9    15-10-2020 1:30:00
                        12   15-10-2020 2:30:00

In [190]:
data_tidy['timestamp'] = pd.to_datetime(data_tidy['timestamp'])

/tmp/ipython-input-2028/2664487166.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_tidy['timestamp'] = pd.to_datetime(data_tidy['timestamp'])

In [191]:
ts = data_tidy['timestamp'][0]
ts

/tmp/ipython-input-2028/2995531480.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ts = data_tidy['timestamp'][0]

Timestamp('2020-10-15 10:30:00')

In [192]:
ts.year, ts.month, ts.day, ts.month_name(), ts.hour, ts.minute, ts.second

(2020, 10, 15, 'October', 10, 30, 0)

In [193]:
data_tidy['timestamp'].dt.year

Drug_Name
diltiazem hydrochloride  0      2020
                         3      2020
                         6      2020
                         9      2020
                         12     2020
                                ...
ketamine hydrochloride   95     2020
                         98     2020
                         101    2020
                         104    2020
                         107    2020
Name: timestamp, Length: 108, dtype: int32

In [ ]:
#Write to a file
data_tidy.to_csv('Pfizer_tidy.csv', sep=',', index=False)